/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
  /* ------- */

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.playerNameInput {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

h1 {
    margin: 1rem 0;
}

.gameBoard {
    display: none;
    animation: silo-fade 0.2s;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    gap: 1rem;
    margin: 3rem auto;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 4rem;
    font-weight: bolder;
    position: relative;
}

[data-index] {
    color: rgba(180, 17, 213, 0.7)
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.cell:hover::after, .cell:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5rem;
    background-image: conic-gradient(from var(--angle), transparent 70%, lightblue, red, lightgreen);
    z-index: -1;
    animation: 2s spin linear infinite;
    border-radius: 3rem;
}

.cell::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}


@keyframes spin {
    from {
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}


.playerNameInput > .startGameButton,
.resetGamebutton {
    cursor: pointer;
}

.resetGamebutton-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.resetGamebutton {
    display: none;
    font-size: 5rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    animation: silo-fade 0.2s;
    position: absolute;
    bottom: 15rem;
    border: none;
}

.resetGamebutton:hover {
    background-color: green;
    color: white;
}

.resetGamebutton::after, .resetGamebutton::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5rem 18.5rem;
    background-image: conic-gradient(from var(--angle), transparent 70%, lightblue, red, lightgreen);
    z-index: -1;
    animation: 2s spin linear infinite;
    border-radius: 1rem;
}

.resetGamebutton::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.playerTurnInfo {
    font-weight: bolder;
    font-size: 1.2rem;
    display: none;
    animation: silo-fade 0.2ss;
}



@keyframes silo-fade {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}