/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
  /* ------- */

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.playerNameInput {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

h1 {
    margin: 1rem 0;
}

.gameBoard {
    display: none;
    animation: silo-fade 0.2s;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    gap: 10px;
    margin: 3rem auto;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 3rem;
    border: darkcyan 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 4rem;
    font-weight: bolder;
}

.playerNameInput > .startGameButton,
.resetGamebutton {
    cursor: pointer;
}

.resetGamebutton-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.resetGamebutton {
    display: none;
    font-size: 4rem;
    border: none;
    border-radius: 1rem;
    animation: silo-fade 0.2s;
}

.playerTurnInfo {
    font-weight: bolder;
    font-size: 1.2rem;
    display: none;
    animation: silo-fade 0.2ss;
}



@keyframes silo-fade {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}